
<table width="467" border="1px">
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.cidade }}</td>
      <td> 
        <button>
        <a routerLink = "/cliente/update/{{cliente.id}}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>
        </button>
      </td>
      <td>
        <button>
        <a  routerLink = "/cliente/delete/{{cliente.id}}" form ="frmbutton" class="delete">
          <i class="material-icons">
            delete
          </i>
        </a>
      </button>
     </td>
    </tr>
</table>
  
      




 
